.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &__wrapper { //https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    margin: 0 0.5em 0 0;
  }

  &__label {
    display: inline-block;
    font-size: 1em;
  }

  &--disabled, &[disabled] {
    color: $btnDisabledColor;
    background-color: $btnDisabledBackground;
    pointer-events: none;
    user-select: none;
    cursor: default;
  }
}