.modal {
  $parent: &;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-modal;
  overflow: hidden;
  overflow-y: auto;

  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  $z-dialog: 2;
  $z-bg: 1;

  &__dialog {
    position: relative;
    z-index: $z-dialog;
    width: auto;
    max-width: em(600);
    margin: em(30) auto;
    pointer-events: none;

    transform: translate3d(0, 3rem, 0);
  }

  &__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    pointer-events: auto;
  }

  &__action {
    position: absolute;
    top: 4px;
    right: 10px;
    z-index: 1;
    background: none;
    outline: none;
    border: none;
    padding: em(10);
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-bg;
    background: rgba($black, 0.8);
  }

  &.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transition: opacity $transTimeFast $easeDefault, visibility $transTimeFast $easeDefault;

    #{$parent} {
      &__dialog {
        transform: translate3d(0, 0, 0);
        transition: transform $transTimeFast $easeDefault;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__dialog {
      display: flex;

      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }

    &__content {
      margin-top: auto;
    }
  }
}
