<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Webpack starter | {{ title }}</title>
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <meta name="title" content="">
    <meta name="description" content="">
    <link rel="image_src" href="">

    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="">
    <meta property="og:image" content=""/>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="fb:app_id" content="">

    <meta name="twitter:card" content="">
    <meta name="twitter:image" content="">

    <meta name="mrc__share_title" content="">
    <meta name="mrc__share_description" content="">

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,minimal-ui">
    <style>
        body {
            background-color: #FFF;
        }

        .app-content {
            opacity: 0;
        }
    </style>
</head>
<body>
<div id="app" class="app {{ app_class }}">
    <div class="app-preloader">
        <div class='sk-double-bounce'>
            <div class='sk-child sk-double-bounce-1'></div>
            <div class='sk-child sk-double-bounce-2'></div>
        </div>
    </div>
    <div class="app-content">
        {% include "includes/_header.njk" %}

        {% block content %}
        {% endblock %}

        {% include "includes/_footer.njk" %}
        {% include "includes/_mmenu.njk" %}
    </div>
</div>
</body>
