.text {

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

.font {

  &-accent {
    font-family: $font-accent;
  }

  &-light {
    font-weight: $light;
  }

  &-normal {
    font-weight: $regular;
  }

  &-medium {
    font-weight: $medium;
  }

  &-semi {
    font-weight: $semi;
  }

  &-bold {
    font-weight: $bold;
  }
}

.color {

  &-red {
    color: $red;
  }

  &-green {
    color: $green;
  }
}

.link-underline {
  text-decoration: underline;
}

.container {
  width: 100%;
  height: auto;
  max-width: em(1240);
  margin: 0 auto;

  @include tablet {
    padding: 0 em(28);
  }
}

@include desktop {
  .desktop-hidden {
    display: none;
  }
}

@include tablet-only {
  .tablet-hidden {
    display: none;
  }
}

@include mobile-only {
  .mobile-hidden {
    display: none;
  }
}