.mmenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-header - 1;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh)*100);
  color: $white;
  background-color: rgba(90, 90, 90, 0.8);
  overflow: hidden;

  transition: opacity $transTimeFast $easeDefault, visibility $transTimeFast $easeDefault;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: em(20);
    overflow-y: auto;
  }

  &__nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: $spacer/2 0 0;

    &-link {
      color: $white;
      display: inline-flex;
      font-size: em(24);
      font-weight: 700;
      line-height: (29/24);
      letter-spacing: em(0.6, 24);
    }

    &-btn {

      .btn__label {
        font-size: em(20);
      }
    }
  }

  &__action {
    padding: $spacer 0 0;
    margin: auto 0 0;
  }

  &__item {
    text-align: center;
    padding: $spacer/2 0;
  }

  &__user {
    padding: em(24) 0 0;
  }

  &--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

@at-root .mmenu--opened {
  .main, .footer, .panel {
    filter: blur(6px);
  }
}
